<div class="category-title-link">
<a  href={{category.url}}>

  <div class="category-img"> 
  {{#if category.uploaded_logo.url}}
    {{cdn-img
      src=category.uploaded_logo.url
      class="category-logo"
      width=category.uploaded_logo.width
      height=category.uploaded_logo.height
      alt=""}}
  {{/if}}
  </div>
 

  <span class="category-text-title">
    {{category-title-before category=category}}
    {{#if category.read_restricted}}
      {{d-icon lockIcon}}
    {{/if}}
    <span class="category-name">{{dir-span category.name}}</span>
  </span>
</a>
</div>
