

<div class="topic-owner-header-wrapper">
    {{#if firstPost}}
        <div class="header-avatar">
            {{mount-widget widget="post-avatar" args=firstPost model=firstPost}}
        </div>
        <div class="owner-details">
            <div class="full-name">
                {{firstPost.displayName}}
            </div>
             <div class="user-name">
                {{concat "@" firstPost.username}}
            </div>
            <div class="created-at">
                {{theme-i18n "topic.owner_header.created_at"}}
                <a title={{i18n "post.sr_date"}}>{{format-date topic.createdAt format="tiny" noTitle="true"}}</a>
            </div>
        </div>  
    {{else}}
        <div class="header-avatar">
            {{#if firstPostUser.profile_hidden}}
                <span class="large-avatar">{{bound-avatar firstPostUser "large"}}</span>
            {{else}}
                <a href={{firstPostUser.path}} class="large-avatar">{{bound-avatar firstPostUser "large"}}</a>
            {{/if}}
            {{user-avatar-flair user=firstPostUser}}
        </div>
        <div class="owner-details">
            <div class="full-name">
                {{firstPost.displayName}}
            </div>
             <div class="user-name">
                {{concat "@" firstPost.username}}
            </div>
            <div class="created-at">
                {{theme-i18n "topic.owner_header.created_at"}}
                <a title={{i18n "post.sr_date"}}>{{format-date topic.createdAt format="tiny" noTitle="true"}}</a>
            </div>
        </div>  

    {{/if}}

</div>