{{#if buildRouteParam}}
  {{#link-to modifiedRoute buildRouteParam}}{{contents}}{{/link-to}}
{{else if route}}
  {{#link-to modifiedRoute}}{{contents}}{{/link-to}}
{{else}}
  <a href={{get-url path}} data-auto-route="true">{{contents}}</a>
{{/if}}
{{getResult}}