

<div class="topic-owner-header-wrapper">
    {{#if firstPost}}
        <div class="header-avatar">
            {{mount-widget widget="post-avatar" args=firstPost model=firstPost}}
        </div>
        <div class="owner-details">
            <div class="owner-name">
                {{firstPost.username}}
            </div>
            <div class="created-at">
                {{theme-i18n "topic.owner_header.created_at"}}
                <a title={{i18n "post.sr_date"}}>{{format-date topic.createdAt format="tiny" noTitle="true"}}</a>
            </div>
        </div>  
    {{else}}
        <div class="header-avatar">
            {{#if firstPostUser.profile_hidden}}
                <span class="large-avatar">{{bound-avatar firstPostUser "large"}}</span>
            {{else}}
                <a href={{firstPostUser.path}} {{action "showUser" firstPostUser}} class="large-avatar">{{bound-avatar firstPostUser "large"}}</a>
            {{/if}}
            {{user-avatar-flair user=firstPostUser}}
        </div>
        <div class="owner-details">
            <div class="owner-name">
                {{firstPostUser.username}}
            </div>
            <div class="created-at">
                {{theme-i18n "topic.owner_header.created_at"}}
                <a title={{i18n "post.sr_date"}}>{{format-date topic.createdAt format="tiny" noTitle="true"}}</a>
            </div>
        </div>  
        <div class="follow-button-wrapper">
            {{follow-button user=user}}
            {{!-- <button label="关注">关注</button> --}}
         </div>
    {{/if}}

</div>