<ul class="nav nav-pills">
    {{ttl-nav-item route="discovery.category" routeParam="general/5" i18nLabel="文区"}}
    {{ttl-nav-item route="discovery.category" routeParam="discourse/1" i18nLabel="图区"}}
    {{ttl-nav-item route="discovery.category" routeParam="videos/4" i18nLabel="灌水区"}}
    {{ttl-nav-item route="discovery.category" routeParam="movies/8" i18nLabel="文区"}}
    {{ttl-nav-item route="discovery.category" routeParam="tech/2" i18nLabel="图区"}}
    {{ttl-nav-item route="discovery.category" routeParam="school/10" i18nLabel="灌水区"}}
    {{ttl-nav-item route="discovery.category" routeParam="gaming/6" i18nLabel="文区"}}
    {{ttl-nav-item route="discovery.category" routeParam="blog/18" i18nLabel="图区"}}
    {{ttl-nav-item route="discovery.category" routeParam="junk/16" i18nLabel="灌水区"}}
    <!-- 最好设置成拿不到active就不显示-->
    <div class="ttl-nav-line"></div>
</ul>


